@import url('https://fonts.googleapis.com/css2?family==Montserrat:wght@300;500;600;700;800;900&family=Raleway:wght@200;400;800&family=Roboto:wght@300;400;500;900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Fonts */
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 28px;
}

h2,
button {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 24px;
    font-size: 'Raleway', sans-serif;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

/* body  */
body {
    background: url('/assets/images/backgroundsmalldevices.png') center no-repeat fixed;
    background-size: cover;
}

/* Header section */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
}

.logo-span {
    color: red;
}

/* footer */
footer {
    clear: both;
}

/* buttons */
button {
    width: 100px;
    display: block;
    margin: 5px auto;
}

#game-area-section button {
    width: 150px;
}

.game-button {
    display: block;
    margin: 5px auto;
}

/* Game Area */
#game-area-section {
    height: 70vh;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

/* Score Balls  */
#game-balls-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
}

.colored-balls-section {
    display: flex;
    flex-wrap: wrap;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.black {
    background-color: rgb(48, 46, 46);
}

.ball {
    display: block;
    margin: 30px auto 0;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0, 0, 0, .5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
}

.size-big {
    height: 150px;
    width: 150px;
}

.small {
    height: 50px;
    width: 50px;
}

/* game button section*/
#game-buttons {
    margin-top: 10px;
}

/* break counter section */

.break-section {
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

#break-section {
    width: 100%;
}

.break-section-numbers {
    width: 40%;
}

#current-Break {
    align-self: flex-end;
    padding-left: 20px;
    margin: 0px;
}

/* Score Board */
.score-board {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    height: 70px;
    margin-top: 15px;
}

.player-display p {
    display: inline;
}

#frame-information {
    background-color: yellow;
}

#frame-information p {
    display: inline;
}


#player-one-score,
#active-left {
    float: right;
}

.player-score {
    color: white;
    background-color: black;
    padding: 20px;
    height: 100%;
}

#active-left {
    border-right: 40px solid yellow;
}

#active-right {
    border-left: 40px solid yellow;
}

.active {
    margin-top: 15px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.player-display {
    background-color: gray;
    color: white;
}

#player-two-score,
#active-right {
    float: left;
}

#player-two-name p {
    padding-top: 15px;
}

#player-one-name,
#frame-information {
    padding-top: 15px;
}

.hidden {
    display: none;
}