@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Montserrat:wght@300;500;600;700;800;900&family=Raleway:wght@200;400;700&family=Roboto:wght@300;400;500;900&display=swap');

/* Fonts */
h1,
h2,
h3,
.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.75em;
}

h2,
button {
    font-size: 1.625em;
}

h3 {
    font-size: 1.375em;
}

p {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

footer h2 {
    color: #fafafa;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

label,
input[type=text],
input[type=number] {
    font-family: 'Raleway', sans-serif;
}

#frame-information p {
    font-weight: 700;
}

/* body  */
body {
    background: url(http://deandodds.github.io/MilestoneProject2/assets/images/backgroundsmalllportrate.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Header section */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
}

.logo-span {
    color: red;
}

/* Game Section */
#page-title {
    color: #fafafa;
    padding: 10px;
    width: 70%;
    max-width: 400px;
    margin: 1em auto;
}

#page-title h1 {
    box-shadow: 5px 10px black;
}

/* footer */
footer {
    clear: both;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 7px;
    text-align: center;
    color: black;
    background: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links li a i:hover {
    background-color: #fafafa;
}


.social-links i:hover {
    color: red;
}

/* buttons */
button {
    width: 6.250em;
    display: block;
    margin: 5px auto;
}

#game-area-section button {
    width: 150px;
}

.game-button {
    display: block;
    margin: 5px auto;
}

/* Game Area */
#game-area-section {
    width: 90%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

/* Score Balls  */
#game-balls-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
}

.colored-balls-section {
    display: flex;
    flex-wrap: wrap;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.black {
    background-color: rgb(48, 46, 46);
}

.ball {
    display: block;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0, 0, 0, .5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 220, .3) 0%, transparent 100%);
}

.size-big {
    height: 150px;
    width: 150px;
}

.small {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

/* game button section*/
#game-buttons {
    margin-top: 10px;
}

/* break counter section */

#break-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.break-section {
    display: flex;
    flex-wrap: wrap;
}

#current-Break {
    width: 50px;
    padding-left: 3px;
}

#current {
    background-color: white;
    border: 1px solid black;
    position: relative;
    padding-right: 4px;
    margin-top: 33px;
    border-radius: 5px;
    height: 50%;
    align-self: center;
}

/* Score Board */

.score-board {
    display: grid;
    grid-template-columns: 100%;
    height: 70px;
    margin-top: 15px;
}

.player-display p {
    display: inline;
}

#frame-information {
    background-color: yellow;
}

#frame-information p {
    display: inline;
}

.break-ball-counter {
    text-align: center;
    padding-top: 3px;
}

#player-one-score,
#active-left {
    float: right;
}

.player-score {
    color: white;
    background-color: black;
    padding: 20px;
    height: 100%;
}

#active-left {
    border-right: 40px solid yellow;
}

#active-right {
    border-left: 40px solid yellow;
}

.active {
    margin-top: 15px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.player-display {
    background-color: gray;
    color: white;
}

#player-two-score,
#active-right {
    float: left;
}

#player-two-name p {
    padding-top: 15px;
}

#player-one-name,
#frame-information {
    padding-top: 25px;
}

#player-one-name {
    margin-top: 50px;
    margin-left: 100px;
}

#player-two-name {
    margin-right: 50px;
    margin-top: 50px;
}

/* remaining counters*/

#remaining-points-section {
    margin-top: 140px;
    clear: right;
    background-color: black;
    color: white;
    width: 100%;
}

.remaining-points-section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/*slider*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

/* footer */

@media only screen and (min-width: 350px) {
    .remaining-points-section {
        flex-wrap: nowrap;
    }

    .remaining-points {
        width: 50%;
    }
}


@media only screen and (min-width: 729px) {
    body {
        background: url(http://deandodds.github.io/MilestoneProject2/assets/images/backgroundsmallllandscape.webp) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .score-board {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        height: 70px;
        margin-top: 15px;
    }

    #break-section {
        width: 40%;
    }

    #current {
        margin-left: 100px;
    }

    .break-section {
        flex-wrap: nowrap;
    }

    #remaining-points-section {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        background: url(http://deandodds.github.io/MilestoneProject2/assets/images/backgroundxllandscape.webp) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .size-big {
        margin-left: 10px;
    }
}

.hidden {
    display: none;
}