@import url('https://fonts.googleapis.com/css2?family==Montserrat:wght@300;500;600;700;800;900&family=Raleway:wght@200;400;800&family=Roboto:wght@300;400;500;900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Fonts */
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 28px;
}

h2,
button {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;

}

/* body  */

body {
    background: url('/assets/images/backgroundsmalldevices.png') center no-repeat fixed;
    background-size: cover;
}

/* Header section */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: white;
}

.logo-span {
    color: red;
}

/* Game Area */

#game-area-section button {
    display: block;
}





.hidden {
    display: none;
}